
@import 'swiper/css/navigation';
@import 'swiper/css/effect-fade';

.swiper-button-prev{
    color: rgba(255, 255, 255, 0.479);
    &:hover{
        color: white;
        transform: scale(1.05);
    }
}
.swiper-button-next{
    color: rgba(255, 255, 255, 0.479);
    &:hover{
        color: white;
        transform: scale(1.05);
    }
}
